* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a, a:visited {
    color: blue;
}

div.nav {
    position: absolute;
    top: 20px;
}

div.nav > ul > li {
    display: inline;
    list-style: none;
    font-size: 1.5rem;
}

div.nav > ul > li:not(:last-child) {
    margin-right: 20px;
}
