
:root {
    --band-width : 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' sans-serif;
}

body {
    background-color: black;
    color: white;
}

div.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 150px;
    width: 300px;
    border: 5px solid lightgrey;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    overflow: hidden;
}

div.box > div.sq {
    position: absolute;
    width: 400px;
    height: 450px;
    background-color: red;
    border: 10px solid white;
    transform: translateX(-100%) translateY(100%) rotate(45deg);
    transition: transform 1s ease 0s;
    z-index: -1;
}

div.box:hover > div.sq {
    transform: translateX(0) translateY(0) rotate(45deg);
}

