:root {
    --border-width:5px;
}

body {
    background-color: black;
}

.white {
    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.box {
    position: relative;
    width: 250px;
    height: 250px;
}

.sq {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.sq > .text {
    font-weight: bold;
    width: min-content;
    word-spacing: 2rem;
    transform: rotate(-45deg);
}

.square1 {
    width: 250px;
    height: 250px;
    background-color: red;
    z-index: -1;
}

.square2 {
    width: 250px;
    height: 250px;
    background-color: red;
    transform: rotate(45deg);
    text-align: center;
    z-index: 1;
}

.sq-border {
    height: 100%;
    width: 100%;
    position: absolute;
}

.sq1-border-height,
.sq2-border-height {
    border-top: var(--border-width) solid white;
    border-bottom: var(--border-width) solid white;
    transform: scaleX(0);
}

.sq1-border-width,
.sq2-border-width {
    border-right: var(--border-width) solid white;
    border-left: var(--border-width) solid white;
    transform: scaleY(0);
}

.sq1-border-height {
    transition: transform .5s;
}

.sq1-border-width {
    transition: transform .5s .5s;
}

.sq2-border-height {
    transition: transform .5s 1s;
}

.sq2-border-width {
    transition: transform .5s 1.5s;
}

div.box:hover > div.sq > div.sq1-border-height {
    transform: scaleY(1);
}

div.box:hover > div.sq > div.sq1-border-width {
    transform: scaleX(1);
}

div.box:hover > div.sq > div.sq2-border-height {
    transform: scaleY(1);
}

div.box:hover > div.sq > div.sq2-border-width {
    transform: scaleX(1);
}
